/target
/src/main/resources/application.local.properties
/src/test/resources/application.test.local.properties
*~
.ant_targets
.DS_Store
.bpmn
*.iml
.idea
rebel.xml
.settings

.settings/
.classpath
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml

